.container1 {
    display: grid;
    align-items: center; 
    grid-template-columns: .5fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 100%;
     max-height:100%;
   }
   
   .text {
     font-size: 70px;
   }

   .text-glow {
    color: #fff; /* Adjust the text color as needed */
    text-shadow: 0 0 10px rgb(32, 10, 229), 0 0 20px rgb(52, 25, 225), 0 0 30px rgb(48, 13, 186); /* Green glow */
  }